<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

{{ if .IsHome }}
          {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
              {{ partial "nav.html" . }}
          {{ end }}
{{ end }}
          {{ if .Site.Params.hero }}
              {{ partial "hero_post.html" . }}
          {{ end }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ i18n .Title | markdownify }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
			<section itemprop="entry-text">
				{{ i18n .Params.description | markdownify }}
			</section>
		</article>
	</main>
          {{ template "_internal/google_analytics.html" . }}
</body>
</html>
