{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 contact-text">
                {{ with .Site.Params.contact.description }}
                    <p class="contact-text">{{ i18n . | markdownify }}</p>
                {{ end }}
            </div>
          </div>
          <div class="row">
            {{ if .Site.Params.contact.phone }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p class="contact-text">{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.slack }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-slack fa-3x wow bounceIn"></i>
                    <p><a href="{{ .Site.Params.contact.slack }}" target="_blank">Join our Slack!</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.twitter }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-twitter fa-3x wow bounceIn"></i>
                    <p class="contact-text"><a href="{{ .Site.Params.contact.twitter }}" target="_blank">Follow us on Twitter!</a></p>
                </div>
            {{ end }}
            <!-- {{ if .Site.Params.contact.ryver }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-weixin fa-3x wow bounceIn"></i>
                    <p><a href="{{ .Site.Params.contact.ryver }}" target="_blank">Join us on Ryver!</a></p>
                </div>
            {{ end }} -->
            {{ with .Site.Params.contact.steemit }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-weixin fa-3x wow bounceIn"></i>
                    <p><a href="https://steemit.com/@{{ . }}" target="_blank">Vote for us on Steemit!</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class="col-lg-3 text-center contact-text">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
