{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1>{{ i18n . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <div id="subtitle">{{ i18n . | markdownify }}</div>
            {{ end }}
            <div class="row">
              <div id="artist_aid" class="col-md-4 col-lg-4 center-block avatar-small">
                <a href="aid">
                  <img class="center-block" src="http://gogo.tattoo/aid/images/aid.png"/>
                </a>
              </div>
              <div id="artist_gogo" class="col-md-4 col-lg-4 center-block avatar">
                <a href="gogo">
                  <img class="center-block" src="http://gogo.tattoo/gogo/images/gogo.jpg"/>
                </a>
              </div>
              <div id="artist_xizi" class="col-md-4 col-lg-4 center-block avatar-small">
                <a href="xizi">
                  <img class="center-block" src="http://gogo.tattoo/xizi/images/xizi.jpg"/>
                </a>
              </div>
            </div>
            {{ with .Site.Params.hero.btn }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ i18n . | markdownify }}</a>
            {{ end }}
        </div>
    </div>
</header>
